.orders > table {
  border: 2px solid black;
  width: 100%;
}

.totalPrice,
.totalclient,
#totalOrderItems {
  border-top: 2px solid black;
}

.totalPrice,
#totalOrderItems  {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: capitalize;
}

#totalOrderItems{
  padding: 10px 0;
}

tr {
  border: 2px solid black;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  min-height: 97vh;
  position: relative;
}

.orders {
  width: 95%;
  background-color: #fefefe;
  padding: 1rem;
}

body {
  background-image: url("bg-image.jpg");
  background-repeat: no-repeat;
  /* background-position: center; */
  background-size: cover;
}

.indexName {
  background-image: linear-gradient(182deg, #f0f0a0, #f77);
  color: transparent;
  -webkit-background-clip: text;
  font-size: 3rem;
  font-weight: 900;
}

.name,
.add,
.remove,
.cancel,
.totalPrice,
#totalOrderItems {
  text-align: center;
}

.addOrder,
.addType {
  background-color: #fefefe;
  color: #00CC66;

}

.addOrder {
  margin: 5px;
  border: 1px solid #00CC66;
  border-radius: 5px;
}

.addOrder:hover{
  background-color: #00CC66;
  color: #fefefe;
  padding: 5px;
}

button {
  border: none;
}

svg:hover {
  width: 2.2rem;
  height: 2.2rem;
}

.removeType,
.cancelOrder {
  color: #f00;
  background-color: #fefefe;
}

svg {
  width: 2rem;
  height: 2rem;
  padding: 0;
  margin: 0;
}

.orders input {
  width: 40px;
  margin-left: 5px;
}
.typeOptions{
  margin-left: 5px;
}

.clientName{
  font-size: 1rem;
  font-weight: 600;
  border: none;
}

#types{
  display: flex;
}

.orderItem {
  border-right: 2px solid black;
    border-left: 2px solid black;
    padding: 0 5px;
    margin: 0 5px;
}

.float{
  position: absolute;
  width: 80vw;
  height: 80vh;
  background-color: #fefefe;
  display: grid;
  grid-template-columns: auto ;
  grid-template-rows: minmax(min-content, max-content);
  display: none;
}
.pages{
  padding: 1rem;
}
.pages > span{
  padding: 5px;
  border: solid #000;
  border-width: 2px 2px 0 2px;
  border-radius: 5px 5px 0 0;
}
.types{
  /* display: none !important; */
}
.names{
  display: none !important;
}
.types > table,
.names > table{
  margin: 1rem 1.5rem ;
  border: 2px solid black;
  width: 90%;
}
.names th,
.types th{
  border-bottom: 2px solid black;
}
.types td,
.names td{
  text-align: center;
}
.names,
.types{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.settings{
  overflow: auto;
  background-color: #f0f0f0;
}
.settings button{
  background-color: #f0f0f0;
}